backend:
  name: github
  repo: georgesboris/fadb

media_folder: static/media
public_folder: /media

collections:
  - name: pages
    label: Pages
    files:
      - label: Settings
        name: settings
        file: src/content/pages/settings.md
        fields:
          -
            name: logo
            label: Site logo
            widget: image
          -
            name: title
            label: Site title
          - 
            name: tags
            label: SEO Tags
            widget: text
      - label: Info
        name: info
        file: src/content/pages/info.md
        fields:
          -
            name: info_pt
            label: Info - PT
            widget: text
          -
            name: info_en
            label: Info - EN
            widget: text
          -
            name: contact
            label: contact
            widget: text
  - name: projects
    label: Projects
    label_singular: Project
    folder: src/content/projects
    create: true
    slug: '{{slug}}'
    fields:
      - 
        name: title
        label: Title
      - 
        name: date
        label: Date
        widget: date
      - 
        name: categories
        label: Categories
      - 
        name: meta
        label: Meta
        widget: text
      - 
        name: description
        label: Description
        widget: text
      - 
        name: images
        label: Images
        widget: list
        required: false
        fields:
          - { name: image, label: Image, widget: image }
          - { name: description, label: Description }
